body {

   background: linear-gradient(180deg, #47998E 0%, #76E989 100%);
   padding-left: 35px;
   padding-right: 35px;
   padding-top: 20px;
   padding-bottom: 20px;
  }

.foreground {
    background: #1D1E20;
    border-radius: 10px;}

.header {
   display: flex;
   justify-content: space-between;


  }

.header-div-a {
   align-self: center; 
}
.header-div-a-paragraphtext {
    width: 220px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    margin-left: 20px;
    background: linear-gradient(90deg, #47998E 0%, #76E989 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
 }

.header-div-b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 300px;
}

.header-div-b-paragraph {


    width: 35px;
    height: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    font-family: 'Inter';
    font-style: normal;
    color: #ffffff;
}

.middle-div {

    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: center;


}
.middle-div-a {
    display: flex;
    flex:1;
    height: 420px;
    align-items: center;
    margin-left: 85px;
    border-radius: 20px;
    justify-content: center;
    background: #28292B;
}

.middle-div-a-textarea {
   background: #28292B;
   border-radius: 10px;
   /*font-family: 'Consolas', monospace;*/
   font-family: 'Consolas', monospace;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 120%;
   width: 450px;
   height: 350px;
   border: none;

   /* or 12px */


   color: #FFFFFF;
}

.middle-div-b {
    display: flex;
    flex:1;
    flex-direction: column;

    height: 420px;
    margin-right: 45px;
    align-items: center;
}

.middle-div-b-div1 {
    display: flex;
    flex:1;
    width: 450px;
}

.middle-div-b-div1-h1{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 38px;
   line-height: 120%;
   /* or 28px */


   color: #FFFFFF;
}

.middle-div-b-div2 {
    display: flex;
    flex:1;
    width: 450px;
}

.middle-div-b-div2-p{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 25px;
   line-height: 120%;
   /* or 23px */
   display: flex;
   align-items: center;

   color: #FFFFFF;
}

.middle-div-b-div3 { 
    display: flex;
    flex:1;
    width: 450px;

    align-items: center;
    flex-direction: row;
    gap: 20px;   
}

.middle-div-b-div3-buttonleft {
   background: linear-gradient(90deg, #47998E 0%, #76E989 100%);
   border-radius: 20px;
   width: 130px;
   height: 54px;
   color: white;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   line-height: 120%;
   border: none;
}

.middle-div-b-div3-buttonright {
   border-radius: 20px;
   width: 130px;
   height: 54px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   line-height: 120%;
   margin-left: 10px;
   background: linear-gradient(90deg, #47998E 0%, #76E989 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
   border: solid 2px;
   border-color: green;
}


.second-div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: center;


}

.second-div-a {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 420px;
    align-items: center;
    margin-left: 85px;
    border-radius: 20px;

    justify-content: center;
    background: #28292B;
}

.second-div-a-div1 {
   display: flex;
   flex: 2;
   width: 90%;
   align-items: center;

}

.second-div-a-div1-h1 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 34px;
   line-height: 120%;
   color: #FFFFFF;
}

.second-div-a-div1-textarea {
   background: #28292B;
   border-radius: 10px;
   /*font-family: 'Consolas', monospace;*/
   font-family: 'Consolas', monospace;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 120%;
   width: 90%;
   color: #FFFFFF;
   border: none;
}


.second-div-a-div2 {
   display: flex;
   flex: 9;
   width: 90%;
}


.second-div-b {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 420px;
    margin-right: 45px;
    align-items: center;
   justify-content: center;
   align-items: center;
/*    background: #47998E;
   background: linear-gradient(180deg, #47998E 0%, #76E989 100%);*/
}

.third-div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: center;

}

.third-div-a {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 420px;
    align-items: center;
    margin-left: 85px;
    justify-content: center;
    border-radius: 20px;
    background: #28292B;
}

.third-div-a-div1 {
   display: flex;
   flex: 2;
   width: 90%;
}

.third-div-a-div1-h1 {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 34px;
   line-height: 120%;
   color: #FFFFFF;
}

.third-div-a-div1-textarea {
   background: #28292B;
   border-radius: 10px;
   /*font-family: 'Consolas', monospace;*/
   font-family: 'Consolas', monospace;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 120%;
   width: 90%;
   color: #FFFFFF;
   border: none;
}


.third-div-a-div2 {
   display: flex;
   flex: 9;
   width: 90%;
}


.third-div-b {
    display: flex;
    flex:1;
    flex-direction: column;
    height: 420px;
    margin-right: 45px;
    align-items: center;
   justify-content: center;
   align-items: center;
  /* background: #76E989;
   background: linear-gradient(180deg, #47998E 0%, #76E989 100%);
*/

}


.fourth-div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;

    height: 80px;
}


.fourth-div-buttonleft {
   background: linear-gradient(90deg, #47998E 0%, #76E989 100%);
   border-radius: 20px;
   width: 150px;
   height: 54px;
   color: white;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   line-height: 120%;
   margin-left: 85px;
   border: none;
}

.fourth-div-buttonright {
   border-radius: 20px;
   width: 150px;
   height: 54px;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   line-height: 120%;
   margin-left: 10px;
   background: linear-gradient(90deg, #47998E 0%, #76E989 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
   border: solid 2px;
   border-color: green;
}


.footer {
   display: flex;
    justify-content: space-between;
    margin-top: 60px;

}
.footer-div-a {
   display: flex;
   gap: 20px;
   width: 50%;
   margin-left: 20px;

   flex-direction: row;

}

.footer-div-a-p {
   display: flex;
   font-family: 'SF Pro Text';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   color: #FFFFFF;
}
.footer-div-b {
   display: flex;
   width: 50%;
   gap: 30px;
   justify-content: flex-end;
   align-items: center;
   margin-right: 30px;

}










.slider-container {
   position: relative;
   overflow: hidden;
   width: 90%;
   height: 90%;;
   border-radius: 10%;



}
.slider {
   display: flex;
   transition: transform 0.5s ease-in-out;
   width: 100%;
   height: 100%;
   border-radius: 10%;


}
.slider img {
   width: 100%;
   height: auto;
   border-radius: 10%;

}
.prev,
.next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 50px;
   height: 50px;
   background-color: transparent;
   cursor: pointer;
   font-size: 24px;
   color: white;
   text-align: center;
   z-index: 1;
   font-size: 50px;
   border: none;
   background-color: transparent;
   }

.prev {
   left: 0;

}
.next {
   right: 0;
}














