
body {
    background-color: linear-gradient(180deg, #47998E 0%, #76E989 100%);
    background-color: #E07A5F;

  }

/* Includes title of the page */
.most-top-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }


/* Includes text input area, submit button and image container */
.second-div {
    margin-top: 5000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

 .second-div-a {
    flex:2;
    border-radius: 4px;
    display: flex;
    height: 350px;
    align-items: center;

 } 

.second-div-a-form {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    flex-direction: row;
}
.second-div-a-form-submit:hover {
  background-color: #E07A5F; /* set background color on hover */
}

.second-div-a-form-submit:active {
  background-color: #E07A5F; /* set background color on click */
}

.second-div-a-form-input {
    font-size: 20px; /* Change font size */
    color: #3D405B;
    text-align: center;
    width: 350px;
    height: 350px; 
    border-radius: 10%;
    border: solid 3px;
    border-color: #81B29A;


}

.second-div-a-form-input:focus {
  outline: none;
}




.second-div-a-form-submit {
    font-size: 25px;
    background-color: #81B29A;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: solid 2px;
    border-color: #81B29A;
}




 .second-div-b {
    flex:1;
    border-radius: 4px;
    display: flex;
    height: 350px;
    justify-content: center;
 } 

/* IMAGE SLIDER START */
    .slider-container {
      position: relative;
      overflow: hidden;
      width: 350px;
      height: 350px;
      border-radius: 10%;


    }
    .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;
      height: 100%;
      border-radius: 10%;


    }
    .slider img {
      width: 100%;
      height: auto;
      border-radius: 10%;

    }
    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: 50px;
      background-color: transparent;
      cursor: pointer;
      font-size: 24px;
      color: white;
      text-align: center;
      z-index: 1;
      font-size: 50px;
      border: none;
      background-color: transparent;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
/* IMAGE SLIDER END */



.third-div {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  
  }


.third-div-a {
    flex:1;
    display: flex;
    height: 350px;
    width: 350px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
 }




 .third-div-b {
    flex:1;
    display: flex;
    height: 350px;
    width: 350px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
 } 

.third-div-c {
    flex:1;
    display: flex;
    height: 350px;
    width: 350px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
 
 } 
 .third-div-d {
    flex:1;
    display: flex;
    height: 350px;
    width: 350px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
 
 } 



