  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 200px;
  }

.container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  margin-top: 100px;
}

.input-div {
  margin-right: 100px;
  margin-left: 200px;
}

.output-div {
  display: flex;
  flex-direction: column;
}

.image-div {
  margin-left: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

