{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">



	<title></title>
</head>
<body>

	<div class="center">
		<h1>Text to Image Converter</h1>
	</div>

    <div class="container"> 
	    <div class="input-div">
	      <form>
	        <label for="input-field">Enter your text:</label>
	        <input type="text" id="input-field" name="input-field" placeholder="Type here...">
	        <button id="submit-btn">Submit</button>
	      </form>
	    </div>
	    
	    <div class="output-div">
	      <form>
	        <label for="output-field1">Splitted Paragraphs will be shown here:</label>
	        <input type="text" id="output-field1" name="output-field1" readonly>
	      </form>
	      <form>
	        <label for="output-field2">Keywords will be shown here:</label>
	        <input type="text" id="output-field2" name="output-field2" readonly>
	      </form>
	    </div>

	    <div class= "image-div">
	       <form>
	        <label for="output-field3">Image will be shown here:</label>
			<img src="https://via.placeholder.com/150" id="my-image" alt="your image">
	      </form>
	    </div>

    </div>
    
    <script>
      const inputField = document.getElementById('input-field');
      const outputField1 = document.getElementById('output-field1');
      const outputField2 = document.getElementById('output-field2');
      const outputField3 = document.getElementById('output-field3');
      const submitBtn = document.getElementById('submit-btn');
      const myImage = document.getElementById('my-image');

      
      submitBtn.addEventListener('click', function(event) {
        event.preventDefault();
        const inputText = inputField.value;
        outputField1.value = inputText;
        outputField2.value = inputText;
        outputField3.value = inputText;
      });

	  document.getElementById('submit-btn').addEventListener('click', function(event) {
		event.preventDefault(); // prevent form submission
		outputField.value = inputField.value;
		myImage.src = 'https://via.placeholder.com/300';
	  });
    </script>


  

</body>
</html>